p {
    position: absolute;
}

.pos_rel{
    position:relative;
}

.abs_1{
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
    background: yellow;
    /*z-index: 30;*//* Завдання 4.2*/
}

.abs_2{
    width: 100px;
    height: 100px;
    top: 70px;
    left: 70px;
    background: green;
    /*z-index: 20;*//* Завдання 4.2*/
}

.abs_3{
    width: 100px;
    height: 100px;
    top: 120px;
    left: 120px;
    background: blue;
    /*z-index: 10;*//* Завдання 4.2*/
}